/target
**/*.rs.bk
*.wasm
.stellar/
.soroban/
.env
.env.local
.DS_Store
node_modules/

# next
.next/
next-env.d.ts
*.tsbuildinfo

# Trustless Work testnet wallets written by `npm run tw -- wallets`
web/.tw-wallets.json
